.nodered/.flows_miguel-Dell-System-XPS-L502X.json.backup
[{"type":"tab","id":"f2181939.0de7e8","label":"Glukose"},{"id":"8c2a9b8f.73d568","type":"watch","z":"f2181939.0de7e8","name":"in-box","files":"/home/miguel/test/glukose/export/","x":70,"y":60,"wires":[["968b956c.697468"]]},{"id":"56a4be1.fa95b4","type":"function","z":"f2181939.0de7e8","name":"historic 01","func":"console.log('Start historic 01 node');\n\nvar fs = context.global.fs;\n\nif (fs === undefined)\n    node.error(\"fs module is not accessible\", msg);\n\n// move sensor file to historic folder\nfs.rename('/home/miguel/test/glukose/export/' + msg.file, '/home/miguel/test/glukose/export/.historic/' + msg.file, function (err) {\n    if (err) node.error(\"Historic error\", msg);\n    \n    node.log('Historic complete');\n    \n    node.send(msg);\n});\n\nreturn;","outputs":1,"noerr":0,"x":638,"y":60,"wires":[["9a3f0709.65c0f8"]]},{"id":"9a3f0709.65c0f8","type":"debug","z":"f2181939.0de7e8","name":"out debug","active":true,"console":"false","complete":"payload","x":854,"y":60,"wires":[]},{"id":"ec611d7f.139ee","type":"catch","z":"f2181939.0de7e8","name":"","scope":null,"x":190,"y":222,"wires":[["a2c28d0f.5d3d7"]]},{"id":"a2c28d0f.5d3d7","type":"function","z":"f2181939.0de7e8","name":"historic 02","func":"console.log('Start historic 02 node');\n\nvar fs = context.global.fs;\n\nif (fs === undefined)\n    node.error(\"fs module is not accessible\", msg);\n\nif (msg.file === undefined)\n    return msg;\n    \n// move sensor file to historic folder\nfs.rename('/home/miguel/test/glukose/export/' + msg.file, '/home/miguel/test/glukose/export/.historic/' + msg.file, function (err) {\n    if (err) node.error(\"Historic error\", msg);\n\n    node.log('Historic complete');\n    \n    node.send(msg);\n});\n\nreturn;","outputs":1,"noerr":0,"x":391,"y":222,"wires":[["bb6a5bca.4495a8"]]},{"id":"bb6a5bca.4495a8","type":"debug","z":"f2181939.0de7e8","name":"error","active":true,"console":"false","complete":"payload","x":610,"y":222,"wires":[]},{"id":"968b956c.697468","type":"function","z":"f2181939.0de7e8","name":"parse","func":"console.log('Start parse node');\n\nvar fs = context.global.fs;\nvar moment = context.global.moment;\n\nif (fs === undefined)\n    node.error(\"fs module is not accessible\", msg);\n\n// preveent when remove files. The watch fire with a none file\nif (msg.type == 'none')   \n    return;\n        \n// recover sensor file from folder\nfs.readFile('/home/miguel/test/glukose/export/' + msg.file, function(err, data) {\n    if (err) \n        node.error(\"Reading file error\", msg);\n\n    // convert from string to JSON\n    msg.payload = JSON.parse(data);\n\n    node.send(msg);\n});\n\nreturn;","outputs":1,"noerr":0,"x":252,"y":60,"wires":[["cbec3d13.3413c"]]},{"id":"cbec3d13.3413c","type":"function","z":"f2181939.0de7e8","name":"persist","func":"console.log('Start persist node');\n\nvar loopback = context.global.loopback;\nvar Device = loopback.models.Device;\n\nDevice.registerMeasure(msg.payload, function(err, device) {\n    if (err) node.error(\"registerMeasure device error\", msg);\n    \n    node.send(msg);\n});\n\n// recover measure\n/*var mes = msg.payload;\n\n// create or update the device measure\nDevice.findOne({\"where\": {\"serlnum\" : mes.serlnum,\n                          \"ptid\" : mes.ptid}},  function(err, device) {\n        if (err) node.error(\"findOne device error\", msg);\n\n        if (device === null) {\n            device = {\"serlnum\" : mes.serlnum,\n                      \"ptname\" : mes.ptname,\n                      \"ptid\" : mes.ptid,\n                      \"date\": mes.date};\n        }\n        else\n            device.date = mes.date;\n            \n        Device.upsert(device, function(err, device) {\n            if (err) node.error(\"upsert device error\", msg);\n        \n            // insert all measures from device\n            device.measures.create(mes.measures, function (err, device) {\n                if (err) node.error(\"create measures error\", msg);\n\n                msg.payload = device;\n                \n                node.send(msg);\n            });\n        });           \n    });*/\n    \nreturn;","outputs":1,"noerr":0,"x":430,"y":60,"wires":[["56a4be1.fa95b4"]]}]